.about {
    padding: 2rem;
    text-align: center;
    background: #f4f4f4;
    color: #333;
}

.about h1{
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: #673AB7;
    position: relative;
    top:15px;
    line-height: 3
}

.about p {
    font-size: 1.1rem;
    line-height: 1.6;
    max-width: 700px;
    margin: 0 auto;
    height: 40vh;
    font-family: Arial, Helvetica, sans-serif;
}