<footer>
    <div class="footer-container">

        <div class="footer-section about">
            <h3>naoMart</h3>
            <p>From Ideas To I Do 🚀</p>
            <p>
                Spintex<br>Accra<br>Ghana
            </p>
        </div>

        <div class="footer-section nav">
            <h3>Quick Links</h3>
            <a routerLink="/home">Home</a>
            <a routerLink="/about">About</a>
            <a routerLink="/courses">Courses</a>
            <a routerLink="/contact">Contact</a>
        </div>

        <div class="footer-section contact">
            <h3>Contact Us</h3>
            <p>Email: {{email}}</p>
            <p>Phone: +233 (244) 244-335</p>
        </div>
    </div>
    <p class="copyright">&copy; {{currentDate}} naoMart. All Rights Reserved</p>
</footer>

